body {
    height: 100%;
    width: 100%;
}
section {
    padding: 10px;
    width: fit-content;
    background-color: #a52a2a;
}
h2 {
    margin-top: 0;
    text-align: center;
    color: #feea3b;
    overflow: hidden;
    font-weight: normal;
}
h2::before, h2::after {
    position: relative;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50%;
    content: '';
    background: #feea3b;
}
h2::before {
    right: 10px;
    margin-left: -50%;
}
h2::after {
    left: 10px;
    margin-right: -50%;
}